<div class="custom-paginator" *ngIf="pageSize !== null && pageIndex !== null">
  <select (change)="onSelectChange($event)" class="page-size-select">
    <option
      *ngFor="let pageSizeOption of pageSizeOptions"
      [value]="pageSizeOption"
    >
      {{ pageSizeOption }}
    </option>
  </select>

  <button
    [disabled]="pageIndex === 0"
    (click)="onPageChange(pageSize, pageIndex - 1)"
    class="pagination-button"
  >
    Previous
  </button>

  <span class="page-indicator">
    Page {{ pageIndex + 1 }} of {{ getLastPage() + 1 }}
  </span>

  <button
    [disabled]="pageIndex === getLastPage()"
    (click)="onPageChange(pageSize, pageIndex + 1)"
    class="pagination-button"
  >
    Next
  </button>
</div>
