<form class="expense-form" (submit)="saveChanges()">
  <fieldset>
    <legend><strong>Expense Information</strong></legend>
    <div class="form-group">
      <label for="nature">Expense Nature</label>
      <div class="radio-group">
        <label class="radio-label" for="restaurant">
          <input
            type="radio"
            [checked]="expense.nature === ExpenseNature.Restaurant"
            (change)="changeNature(ExpenseNature.Restaurant)"
            name="nature"
            id="restaurant"
            value="restaurant"
          />
          <span role="presentation" aria-hidden="true">🍽️</span>
          <span class="sr-only" id="restaurant-label">Restaurant</span>
        </label>

        <label class="radio-label" for="trip">
          <input
            type="radio"
            [checked]="expense.nature === ExpenseNature.Trip"
            (change)="changeNature(ExpenseNature.Trip)"
            name="nature"
            id="trip"
            value="trip"
          />
          <span role="presentation" aria-hidden="true">✈️</span>
          <span class="sr-only" id="trip-label">Trip</span>
        </label>
      </div>
    </div>
    <div
      class="conditional-fields"
      *ngIf="expense.nature === ExpenseNature.Restaurant"
    >
      <div class="form-group">
        <label for="invites">Number of Invites</label>
        <input
          data-testid="invites-input"
          type="number"
          [value]="expense.invites"
          (input)="handleInputChange($event, 'invites')"
          name="invites"
          placeholder="Enter number of invites"
          aria-label="Invites"
          required
          min="0"
        />
      </div>
    </div>
    <div
      class="conditional-fields"
      *ngIf="expense.nature === ExpenseNature.Trip"
    >
      <div class="form-group">
        <label for="distance">Trip Distance (in km)</label>
        <input
          data-testid="distance-input"
          type="number"
          [value]="expense.distance"
          (input)="handleInputChange($event, 'distance')"
          name="distance"
          placeholder="Enter trip distance"
          aria-label="Distance"
          required
          min="1"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input
        type="number"
        [value]="expense.amount"
        (input)="handleInputChange($event, 'amount')"
        name="amount"
        placeholder="Enter amount"
        aria-label="Amount"
        required
        min="1"
      />
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea
        [value]="expense.comment"
        (input)="handleInputChange($event, 'comment')"
        name="comment"
        placeholder="Add a detailed comment about the expense..."
        aria-label="Comment"
      ></textarea>
    </div>
    <div class="date-field">
      <label class="purchased-on" for="purchasedOn">Purchased On</label>
      <input
        type="date"
        [value]="expense.purchasedOn"
        (input)="handleInputChange($event, 'purchasedOn')"
        name="purchasedOn"
        aria-label="Purchased On"
        required
      />
    </div>
  </fieldset>
  <div class="button-group">
    <button
      class="save-button"
      (click)="saveChanges()"
      [disabled]="!isFormValid()"
      tabindex="0"
      (keydown.enter)="saveChanges()"
      (keydown.space)="saveChanges()"
    >
      Save
    </button>
  </div>
</form>
