<div class="expense-list" *ngIf="expenses">
  <div
    class="expense-item"
    *ngFor="let expense of expenses"
    (click)="openModal(expense)"
    (keydown.enter)="openModal(expense)"
    tabindex="0"
  >
    <div class="expense-details">
      <div class="expense-header">
        <div class="expense-category">
          <span *ngIf="expense.nature === 'restaurant'">🍽️</span>
          <span *ngIf="expense.nature === 'trip'">✈️</span>
        </div>
        <div class="expense-nature">{{ expense.nature }}</div>
        <div class="expense-amount">$ {{ expense.amount }}</div>
      </div>
      <div *ngIf="expense.nature === 'restaurant'" class="expense-invites">
        <span class="label">Invites:</span> {{ expense.invites }}
      </div>
      <div *ngIf="expense.nature === 'trip'" class="expense-distance">
        <span class="label">Distance:</span> {{ expense.distance }} km
      </div>
      <div class="expense-date">{{ expense.purchasedOn | date }}</div>
      <div class="expense-comment">{{ expense.comment }}</div>
    </div>
  </div>
</div>
