<div>
  <mat-paginator
    [length]="9999"
    [pageSize]="limit$ | async"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="page$ | async"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
  <div *ngIf="expenses$ | async as expenses">
    <h2>Expenses List</h2>
    <ul>
      <li *ngFor="let expense of expenses">
        <div><strong>id:</strong> {{ expense.id }}</div>
        <div><strong>comment:</strong> {{ expense.comment }}</div>
        <div><strong>Amount:</strong> {{ expense.amount | currency }}</div>
        <div><strong>Purchased On:</strong> {{ expense.purchasedOn }}</div>
        <!-- Add other expense properties you want to display -->
      </li>
    </ul>
  </div>
  <p>Expenses Length: {{ (expenses$ | async)?.length }}</p>
  <p>Limit: {{ limit$ | async }}</p>
  <p>Page: {{ page$ | async }}</p>
  <!-- <ng-template #loading>Loading expenses...</ng-template> -->
  <mat-paginator
    [length]="9999"
    [pageSize]="limit$ | async"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="page$ | async"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
