<div class="paginator-container">
  <button class="fab-button" (click)="onAddButtonClick()">
    <span class="plus-icon">+</span>
  </button>
  <mat-paginator
    [length]="totalExpenses$ | async"
    [pageSize]="limit$ | async"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="page$ | async"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
<app-expense-list [expenses]="expenses$ | async"></app-expense-list>
<!-- <ng-template #loading>Loading expenses...</ng-template> -->
<div class="paginator-container">
  <mat-paginator
    [length]="totalExpenses$ | async"
    [pageSize]="limit$ | async"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="page$ | async"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
