<div class="paginator-container">
  <button
    class="fab-button"
    (click)="onAddButtonClick()"
    aria-label="Add Expense"
    tabindex="0"
  >
    <span class="plus-icon">+</span>
  </button>
  <nav aria-label="Expense Pagination">
    <mat-paginator
      [length]="totalExpenses$ | async"
      [pageSize]="limit$ | async"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="page$ | async"
      aria-label="Expense Pagination"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </nav>
</div>
<section aria-labelledby="expenseListHeading">
  <h2 id="expenseListHeading" class="visually-hidden">Expense List</h2>
  <ng-container *ngIf="(expenses$ | async)?.length; else loadingState">
    <app-expense-list [expenses]="expenses$ | async"></app-expense-list>
  </ng-container>
</section>
<div class="paginator-container">
  <nav aria-label="Expense Pagination">
    <mat-paginator
      [length]="totalExpenses$ | async"
      [pageSize]="limit$ | async"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="page$ | async"
      aria-label="Expense Pagination"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </nav>
</div>

<!-- Loading state template -->
<ng-template #loadingState>
  <app-expense-list-skeleton></app-expense-list-skeleton>
</ng-template>
